.container{
    position: absolute;
    margin: 1rem;
}

.container p{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: teal;

    transition: 0.5s;
}

.container p:hover{
    cursor: pointer;
    opacity: 0.6;
}